body
  :padding 0 80px
  :font 14px "Ubuntu", "Trebuchet MS", sans-serif

.hidden
  :display none

.records
  :padding-left 0
  .record
    :background #eee
    :padding 15px
    :margin 10px 0
    :overflow auto
    :width 70%
    .avatar
      :display block
      :float left
    .title
      :margin 0 0 0 90px
    .desc
      :margin-left 90px
    .tags
      :margin-left 90px


header
  :overflow hidden
  :padding 0
  h1
    :float left
    :padding 0
    :margin 0
    :font-size 4em
    :text-shadow 2px 2px 2px gray
    a
      :display block
      :text-decoration none
      :margin 1em 0 0 3em
      :width 10em
    svg
      :margin 0 15px 0 0
      :float left
  menu
    :padding 0
    :text-align right
    li
      :display inline-block
      :padding 5px
      :margin 0

footer
  :padding 25px 0
  nav
    li
      :display inline-block
      :padding 0 10px 0 0
  .copy
    :color gray
    :font-size small

.edit_record, .edit_user
  label
    display: inline-block
    width: 100px
  .desc
    color: gray

// Player styling
#player-hover.enabled
  :-webkit-transition-property background
  :-webkit-transition-duration 5s
  :-webkit-transition-timing-function default
  :background-color rgba(0,0,0,0.7)

#player-hover.disabled
  :background rgba(0,0,0,0)

#player
  h1.title
    :display none
  table.canvas
    :overflow hidden
    :padding 10px
    :font-family "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace
    td
      :padding 1px 0 1px 0
      :width 0.2em
      :border 1px
    td.cursor
      :background-color white
  input[type=range]
    :margin-bottom -10px
  progress
    :height 30px
  nav
    li
      :display inline-block
      :margin 0

// Pagination
.pagination
  padding: 0
  margin: 0
  margin-top: 3em
  a
    :background #ccc
    :padding 10px
    :margin 2px
    :border 1px solid #aaaadd
    :text-decoration none
    &:hover, &:active
      :border 1px solid #000099
      :color #000
  em
    :background #ccc
    :padding 10px
    :margin 2px
    :border 1px solid #aaaadd
    :text-decoration none
    :font-weight bold
    &:hover
      :border 1px solid #000099
      :color #000
  span.disabled
    :display none
    :padding 2px 5px 2px 5px
    :margin 2px
    :border 1px solid #eee
    :color #ddd
