.sgr .n30 {
  color: black; }
.sgr .n31 {
  color: maroon; }
.sgr .n32 {
  color: green; }
.sgr .n33 {
  color: olive; }
.sgr .n34 {
  color: navy; }
.sgr .n35 {
  color: purple; }
.sgr .n36 {
  color: teal; }
.sgr .n37 {
  color: silver; }
.sgr .b30 {
  color: gray; }
.sgr .b31 {
  color: red; }
.sgr .b32 {
  color: lime; }
.sgr .b33 {
  color: yellow; }
.sgr .b34 {
  color: blue; }
.sgr .b35 {
  color: fuchsia; }
.sgr .b36 {
  color: cyan; }
.sgr .b37 {
  color: white; }
.sgr .n40 {
  background: black; }
.sgr .n41 {
  background: maroon; }
.sgr .n42 {
  background: green; }
.sgr .n43 {
  background: olive; }
.sgr .n44 {
  background: navy; }
.sgr .n45 {
  background: purple; }
.sgr .n46 {
  background: teal; }
.sgr .n47 {
  background: silver; }
.sgr .b40 {
  background: gray; }
.sgr .b41 {
  background: red; }
.sgr .b42 {
  background: lime; }
.sgr .b43 {
  background: yellow; }
.sgr .b44 {
  background: blue; }
.sgr .b45 {
  background: fuchsia; }
.sgr .b46 {
  background: cyan; }
.sgr .b47 {
  background: white; }
