/* line 5, sass/sgr.sass */
.sgr .n30 {
  color: black; }
/* line 7, sass/sgr.sass */
.sgr .n31 {
  color: maroon; }
/* line 9, sass/sgr.sass */
.sgr .n32 {
  color: green; }
/* line 11, sass/sgr.sass */
.sgr .n33 {
  color: olive; }
/* line 13, sass/sgr.sass */
.sgr .n34 {
  color: navy; }
/* line 15, sass/sgr.sass */
.sgr .n35 {
  color: purple; }
/* line 17, sass/sgr.sass */
.sgr .n36 {
  color: teal; }
/* line 19, sass/sgr.sass */
.sgr .n37 {
  color: silver; }
/* line 21, sass/sgr.sass */
.sgr .b30 {
  color: gray; }
/* line 23, sass/sgr.sass */
.sgr .b31 {
  color: red; }
/* line 25, sass/sgr.sass */
.sgr .b32 {
  color: lime; }
/* line 27, sass/sgr.sass */
.sgr .b33 {
  color: yellow; }
/* line 29, sass/sgr.sass */
.sgr .b34 {
  color: blue; }
/* line 31, sass/sgr.sass */
.sgr .b35 {
  color: fuchsia; }
/* line 33, sass/sgr.sass */
.sgr .b36 {
  color: cyan; }
/* line 35, sass/sgr.sass */
.sgr .b37 {
  color: white; }
/* line 37, sass/sgr.sass */
.sgr .n40 {
  background: black; }
/* line 39, sass/sgr.sass */
.sgr .n41 {
  background: maroon; }
/* line 41, sass/sgr.sass */
.sgr .n42 {
  background: green; }
/* line 43, sass/sgr.sass */
.sgr .n43 {
  background: olive; }
/* line 45, sass/sgr.sass */
.sgr .n44 {
  background: navy; }
/* line 47, sass/sgr.sass */
.sgr .n45 {
  background: purple; }
/* line 49, sass/sgr.sass */
.sgr .n46 {
  background: teal; }
/* line 51, sass/sgr.sass */
.sgr .n47 {
  background: silver; }
/* line 53, sass/sgr.sass */
.sgr .b40 {
  background: gray; }
/* line 55, sass/sgr.sass */
.sgr .b41 {
  background: red; }
/* line 57, sass/sgr.sass */
.sgr .b42 {
  background: lime; }
/* line 59, sass/sgr.sass */
.sgr .b43 {
  background: yellow; }
/* line 61, sass/sgr.sass */
.sgr .b44 {
  background: blue; }
/* line 63, sass/sgr.sass */
.sgr .b45 {
  background: fuchsia; }
/* line 65, sass/sgr.sass */
.sgr .b46 {
  background: cyan; }
/* line 67, sass/sgr.sass */
.sgr .b47 {
  background: white; }
