body {
  font: 14px "Ubuntu", "Trebuchet MS", sans-serif;
  color: #333333;
  background: url(/images/bg.png); }

h1.aligned {
  margin-left: 150px; }

.hidden {
  display: none; }

a {
  color: #333333;
  -webkit-transition: color;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 300ms; }
  a:hover {
    color: #513a7b; }
  a:active {
    color: red; }

#wrapper {
  width: 700px;
  margin: 0 auto; }

.hidden {
  display: none; }

.user.big {
  box-shadow: 1px 1px 5px #bbbbbb;
  background: #e0eaf8;
  padding: 15px;
  overflow: auto;
  border: 1px solid #cccccc; }
  .user.big .avatar {
    float: left; }
  .user.big .desc {
    margin-bottom: 5px;
    margin-left: 100px; }
    .user.big .desc strong {
      display: inline-block;
      width: 100px;
      font-weight: normal;
      font-size: 0.9em;
      text-align: right;
      padding-right: 15px;
      color: #999999; }
  .user.big .about {
    margin-left: 320px; }

.records {
  box-shadow: 1px 1px 5px #bbbbbb;
  padding-left: 0; }
  .records .record {
    display: block;
    background: #eeeeee;
    padding: 15px;
    border: 1px #cccccc solid;
    border-top: 1px #cccccc dotted;
    border-bottom: none;
    overflow: auto; }
    .records .record:hover {
      background: #fafafa;
      box-shadow: inside -1px -1px 5px #444444; }
    .records .record:first-child {
      border-top: 1px #cccccc solid; }
    .records .record:last-child {
      border-bottom: 1px #cccccc solid;
      background: #eeeeee; }
    .records .record .userinfo, .records .record .shell {
      text-align: center;
      width: 110px;
      overflow: hidden;
      float: left; }
      .records .record .userinfo:hover, .records .record .shell:hover {
        overflow: visible; }
    .records .record .avatar {
      display: block; }
    .records .record .title {
      margin: 0; }
    .records .record .desc, .records .record .tags, .records .record h3.title {
      margin-left: 140px; }

header {
  overflow: hidden;
  padding: 0;
  margin-bottom: 20px; }
  header h1 {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-shadow: 1px 1px 5px #aaaaaa; }
    header h1 a {
      -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(rgba(0, 0, 0, 0.7)));
      color: #333333;
      display: block;
      text-decoration: none;
      margin: 1em 0 0 150px;
      width: 500px; }
      header h1 a sup {
        color: gray;
        font-size: 0.2em;
        font-weight: normal;
        margin-left: -40px;
        vertical-align: top;
        text-shadow: 1px 1px 1px #cccccc; }
    header h1 svg {
      margin: 0 0 0 0;
      float: left; }

menu.top {
  position: absolute;
  top: 0;
  display: block;
  border: 1px solid #aaaaaa;
  background: #eeeeee;
  opacity: 0.7;
  padding: 0;
  margin-left: 400px;
  margin-top: -3px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #cccccc; }
  menu.top li {
    display: inline-block;
    padding: 5px;
    margin: 0; }

footer {
  padding: 0; }
  footer nav li {
    display: inline-block;
    padding: 0 10px 0 0; }
  footer .copy {
    color: gray;
    font-size: small; }

.edit_record label, .edit_user label {
  display: inline-block;
  width: 135px;
  text-align: right;
  padding-right: 10px; }
.edit_record .desc, .edit_user .desc {
  color: gray; }

#player-hover {
  text-align: center;
  color: white;
  font-size: 2em; }
  #player-hover p {
    padding: 20px; }
    #player-hover p .donate {
      font-size: 0.5em;
      color: gray; }
  #player-hover.enabled {
    -webkit-transition-property: background;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: default;
    background-color: rgba(0, 0, 0, 0.7); }
    #player-hover.enabled.error a {
      color: #aaaaaa; }
    #player-hover.enabled.error .img {
      width: 126px;
      height: 126px;
      background: #eeeeee;
      padding: 10px;
      margin: 0 auto;
      border-radius: 10px; }
  #player-hover.disabled {
    background: rgba(0, 0, 0, 0); }

#player {
  width: 100%;
  display: inline-block; }
  #player .header {
    height: 32px;
    line-height: 32px;
    color: white;
    background: url(/images/term/bg-gradient.png);
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px; }
    #player .header img {
      margin: 6px 10px 0 10px;
      float: left; }
    #player .header h1 {
      display: block;
      font-size: 12px; }
  #player input.cmdline {
    border: 0;
    border-top: 1px solid #444444;
    font-size: 1.4em;
    padding: 3px;
    margin: 0;
    background: #111111;
    color: #aaaaaa; }
  #player .canvas {
    overflow: hidden;
    padding: 10px;
    font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace; }
    #player .canvas .row {
      padding: 1px 0 1px 0;
      width: 0.2em;
      border: 1px; }
    #player .canvas span.cursor {
      background-color: white; }
  #player input[type=range] {
    margin-bottom: -10px; }
  #player nav {
    height: 30px;
    border-top: 1px solid #444444;
    background: black; }
    #player nav li {
      display: block;
      margin: 0;
      float: left;
      height: 30px; }
    #player nav .sc-button {
      cursor: pointer;
      line-height: 30px;
      width: 30px; }
      #player nav .sc-button img {
        margin: 4px; }
    #player nav .sc-settings {
      display: none; }
    #player nav .progress .progress-inner {
      display: block;
      width: 50%;
      background: blue; }

.pagination {
  padding: 0;
  margin: 0; }
  .pagination a {
    background: #cccccc;
    padding: 5px;
    margin: 2px;
    border: 1px solid #999999;
    text-decoration: none; }
    .pagination a:hover, .pagination a:active {
      border: 1px solid #777777;
      color: black; }
  .pagination em {
    display: none;
    background: #aaaaaa;
    padding: 5px;
    margin: 2px;
    border: 1px solid #777777;
    text-decoration: none; }
    .pagination em:hover {
      border: 1px solid #999999;
      color: black; }
  .pagination span.disabled {
    display: none;
    background: #cccccc;
    padding: 5px;
    margin: 2px;
    border: 1px solid #999999;
    text-decoration: none; }

hr {
  height: 1px;
  border: 0;
  border-top: 1px #aaaaaa solid; }

#disqus_thread #dsq-footer, #disqus_thread .dsq-trackback-url, #disqus_thread #dsq-account-dropdown, #disqus_thread #dsq-reply h3 {
  display: none; }
