body {
  font: 14px "Ubuntu", "Trebuchet MS", sans-serif; }

#wrapper {
  width: 700px;
  margin: 0 auto; }

.hidden {
  display: none; }

.records {
  padding-left: 0; }
  .records .record:first-child {
    border-radius: 3px; }
  .records .record {
    display: block;
    background: #eeeeee;
    padding: 15px;
    border-bottom: 1px #aaaaaa solid;
    overflow: auto; }
    .records .record .avatar {
      display: block;
      float: left; }
    .records .record .title {
      margin: 0 0 0 90px; }
    .records .record .desc {
      margin-left: 90px; }
    .records .record .tags {
      margin-left: 90px; }

header {
  overflow: hidden;
  padding: 0; }
  header h1 {
    float: left;
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-shadow: 2px 2px 2px gray; }
    header h1 a {
      color: #254117;
      display: block;
      text-decoration: none;
      margin: 1em 0 0 3em;
      width: 10em; }
      header h1 a sup {
        color: gray;
        font-size: 0.2em;
        font-weight: normal;
        margin-left: -40px;
        vertical-align: top;
        text-shadow: 1px 1px 1px #cccccc; }
    header h1 svg {
      margin: 0 15px 0 0;
      float: left; }

menu.top {
  position: absolute;
  top: 0;
  display: block;
  border: 1px solid #aaaaaa;
  background: #eeeeee;
  padding: 0;
  border-radius: 4px;
  margin-left: 230px;
  margin-top: -3px; }
  menu.top li {
    display: inline-block;
    padding: 5px;
    margin: 0; }

footer {
  padding: 25px 0; }
  footer nav li {
    display: inline-block;
    padding: 0 10px 0 0; }
  footer .copy {
    color: gray;
    font-size: small; }

.edit_record label, .edit_user label {
  display: inline-block;
  width: 100px; }
.edit_record .desc, .edit_user .desc {
  color: gray; }

#player-hover.enabled {
  -webkit-transition-property: background;
  -webkit-transition-duration: 5s;
  -webkit-transition-timing-function: default;
  background-color: rgba(0, 0, 0, 0.7); }

#player-hover.disabled {
  background: rgba(0, 0, 0, 0); }

#player {
  width: 100%; }
  #player input.cmdline {
    border: 1px solid #aaaaaa;
    font-size: 1.4em;
    padding: 3px;
    margin: 0;
    border-radius: 2px; }
  #player table.canvas {
    overflow: hidden;
    padding: 10px;
    font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace; }
    #player table.canvas td {
      padding: 1px 0 1px 0;
      width: 0.2em;
      border: 1px; }
    #player table.canvas td.cursor {
      background-color: white; }
  #player input[type=range] {
    margin-bottom: -10px; }
  #player progress {
    height: 30px; }
  #player nav li {
    display: inline-block;
    margin: 0; }

.pagination {
  padding: 0;
  margin: 0; }
  .pagination a {
    background: #cccccc;
    padding: 5px;
    margin: 2px;
    border: 1px solid #999999;
    text-decoration: none; }
    .pagination a:hover, .pagination a:active {
      border: 1px solid #777777;
      color: black; }
  .pagination em {
    display: none;
    background: #aaaaaa;
    padding: 5px;
    margin: 2px;
    border: 1px solid #777777;
    text-decoration: none; }
    .pagination em:hover {
      border: 1px solid #999999;
      color: black; }
  .pagination span.disabled {
    display: none;
    background: #cccccc;
    padding: 5px;
    margin: 2px;
    border: 1px solid #999999;
    text-decoration: none; }
