.login.info-block
  %h1 Just login
  .btn-group
    %a{ href: '/auth/github',  class: 'btn btn-large btn-success' } Login via GitHub
    %a{ href: '/auth/twitter', class: 'btn btn-large btn-success' } Login via Twitter
    %a{ href: '/auth/google_oauth2', class: 'btn btn-large btn-success' } Login via Google
  %h3 less than 10 seconds
