.login.info-block
  %h1 Just login
  .btn-group
    - if Rails.env.development?
      %a{ href: '/auth/developer',  class: 'btn btn-large btn-success' } Developer
    %a{ href: '/auth/github',  class: 'btn btn-large btn-success' } GitHub
    %a{ href: '/auth/twitter', class: 'btn btn-large btn-success' } Twitter
    %a{ href: '/auth/google_oauth2', class: 'btn btn-large btn-success' } Google
  %h3 less than 10 seconds
