%h1
  = @user.nickname
  - if @user.editable_by?(current_user)
    %sup= link_to 'edit', edit_user_path(@user)

- if @user.records.any?
  %ul
    - @user.records.each do |record|
      %li= link_to record.title, record
- else
  %p Ninja have no records yet...
