#login-modal.modal.hidden
  .modal-header
    %a{ class: "close", :"data-dismiss" => "modal" } ×
    %h3 No registration. Just login!
  .modal-body
    .btn-group
      %a{ href: '/auth/github',  class: 'btn btn-large btn-success' } Login via GitHub
      %a{ href: '/auth/twitter', class: 'btn btn-large btn-success' } Login via Twitter
