.info-block
  %p.lead
    Shelr.tv allows you to record
    something interesting from your terminal and
    share it to your followers.
  %p.lead
    It is almost the same thing as YouTube but for plain
    text shellcasts. You can copy and paste everything you see.

  %h2 Quickstart on Linux

  %p
    There is a
    %a{ :href => 'https://launchpad.net/~antono/+archive/shelr' } PPA
    for Ubuntu (Oneiric, Precise)
    and a
    %a{ :href => 'https://aur.archlinux.org/packages.php?ID=56945' } PKGBUILD
    for Arch Linux.

  %h3 Via rubygems

  %p Install ruby and rubygems for your distribution
  %pre
    %code
      = preserve do
        :escaped
          [sudo] gem install shelr
          shelr record

  %h2 Quickstart on OSX

  %p Install ruby and rubygems

  %p
    Install ttyrec via
    %a{ :href => 'http://mxcl.github.com/homebrew/' } homebrew

  %pre
    %code
      = preserve do
        :escaped
          brew install ttyrec

  %p Install shelr

  %pre
    %code
      = preserve do
        :escaped
          gem install shelr
          shelr backend ttyrec
          shelr record

  %h2 Support
  %p
    Mailing List:
    %a{ href: "https://groups.google.com/group/shelr" } https://groups.google.com/group/shelr
  %p
    IRC:
    %a{ href: "irc://irc.freenode.net#shelr" } #shelr at freenode.net
