.about-shelr
  %h1 Hello %username%!!!
  %p Shelr.tv allows you to share your shell kung-fu.
  %p
    It almost the same thing as YouTube but for plain
    text shellcasts. You can copy and paste everything You see.
  %p
    It almost the same thing as YouTube but for plain
    text shellcasts. You can copy and paste everything You see.
  %h2 Quickstart (currently only Linux)
  %pre
    %code
      = preserve do
        :escaped
          gem install shelr
          shelr record
          shelr push SHELLCAST_ID
    
    
