- content_for :meta do
  %meta{ name: 'title', content: 'Shelr.tv' }
  %meta{ name: 'description', content: "Record and share Your shell" }

- content_for :title do
  Shelr.tv &ndash; plain text screencasts from Unix shell

.krio.hero-unit
  %h1
    Share Your Shell
    %br
    Kung-Fu!
  %a{ href: '/about', class: 'btn btn-success btn-large'} NOW!
  %br
  %br
  = render 'shared/google_plus'
  %br
  = render 'shared/tweet_landing'
  %br
  = render 'shared/flattr_button'


%ul.records
  = render @records, show_user: true

.more
  %a{ href: '/records?page=2', class: 'btn btn-primary btn-large' } show me moar!
