%h2 ShellCasts

%ul
  - @records.each do |record|
    %li
      %h3
        = link_to record.title, record
        - if record.user
          by
          = link_to record.user.nickname, record.user
      %p= record.description
      - unless record.tags.blank?
        %p
          %strong Tags:
          - record.tags.split(",").map(&:strip).each do |tag|
            = link_to tag, records_path(:tags => [tag])
