- content_for :title do
  = @record.title + ' < '.html_safe

- content_for :meta do
  %meta{ name: 'title', content: @record.title }
  %meta{ name: 'description', content: @record.description }

= render :partial => 'users/user', :locals => { :user => @record.user, :record => @record, :edit => true }

= player_for(@record)


-# .comments= render :partial => 'shared/disqus', :locals => { disqus_url: record_path(@record, :only_path => false), disqus_id: @record.id.to_s, disqus_title: @record.title }
