secret_token: CHANGE_ME
github:
  id: CHANGE_ME
  secret: CHANGE_ME
google:
  id: CHANGE_ME
  secret: CHANGE_ME
twitter:
  id: CHANGE_ME
  secret: CHANGE_ME
team:
  antono:
    id: 4f103f3f6a89890001000001
    note: Client and Server development
  gonzih:
    id: 4f45d7dde10dd70001000001
    note: Arch Linux packaging, Server Development
