//
// Generic styles
//
@import mixins

.records
  +wrap
  +shadow
  padding-left: 0
  .record
    display: block
    background: #eee
    padding: 15px
    border: 1px #ccc solid
    border-bottom: none
    overflow: auto
    &:hover
      background: #fafafa
    &:first-child
      border-top: 1px #ccc solid
    &:last-child
      border-bottom: 1px #ccc solid
      background: #eee
    .userinfo, .shell
      text-align: center
      width: 110px
      overflow: hidden
      float: left
      &:hover
        overflow: visible
    .avatar
      display: block
    .title
      margin: 0
    .desc, .tags, h3.title
      margin-left: 140px


.tags
  a
    display: inline-block
    padding-left: 20px
    line-height: 16px
    background: transparent url(/assets/tag-icon.png) center left no-repeat
    text-decoration: none

//
// Specific styles
//
.records-controller.show-action
  .user
    +wrap
    margin-bottom: 30px
  .social
    +wrap
    text-align: center
    .addthis_toolbox
      width: 300px
      margin: 0 auto
